* {
  margin: 0;
  padding: 0;
}

$colorPrincipal: rgb(175, 37, 37);

@mixin section {
  @include defaultStyle();
  display: flex;
  flex-direction: column;
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  animation: sectionSpawn 0.5s ease;

  .titulo {
    margin: 2% 0 0 3%;
    font-size: 5vh;
    font-family: 'edosz';
    color: whitesmoke;
    filter: drop-shadow(3px 4px 0 red);
  }
}

@mixin spawnAnimation {
  animation: infoSpawn 0.5s ease-in-out;
}

@mixin defaultStyle {
  border: double 3px transparent;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.459);
  background-image: linear-gradient(rgb(78, 78, 78), rgb(78, 78, 78)),
    linear-gradient(to right, rgb(131, 131, 131), rgb(155, 155, 155));

  background-origin: border-box;
  background-clip: content-box, border-box;
}

@font-face {
  font-family: 'edosz';
  src: url(edosz.ttf);
}

body {
  display: grid;
  min-height: 95vh;
  overflow-x: hidden;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 0.5fr 4fr;
  grid-gap: 1%;
  padding: 1%;
  background-color: rgb(27, 27, 27);
}

#fotoInformacion {
  @include defaultStyle();
  @include spawnAnimation();
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    padding-top: 8%;
    padding-bottom: 8%;
    color: whitesmoke;
    font-weight: bolder;
    border-bottom: ridge 4px rgb(184, 184, 184);
    transition: all 0.2s;
  }
}

nav {
  @include spawnAnimation();
  z-index: 1;
  border-radius: 0 15px 0 15px;
  background-color: rgb(161, 161, 161);
  grid-column: 3;
  overflow: hidden;
  grid-row: 1;
  display: flex;
  justify-content: space-around;

  button {
    width: 100%;
    font-size: larger;
    border: none;
    background: none;
    cursor: pointer;
    color: whitesmoke;
    font-weight: bolder;
    transition: all 0.4s;

    &:hover {
      color: lighten($colorPrincipal, $amount: 10);
      background-color: rgba(0, 0, 0, 0.171);
    }

    &[seleccionado]{
      @extend button, :hover;
      cursor:auto;
    }
  }
}

#sobreMi {
  @include section();

  p {
    margin-top: 3%;
    padding: 5%;
    color: whitesmoke;
  }

  h1 {
    margin-left: 3%;
    color: whitesmoke
  }
}

#curriculum {
  @include section();
  display: none;
}

#portfolio {
  @include section();
  display: none;
}

#imageContainer {
  width: 50%;
  height: 27%;
  margin-top: 12%;
  margin-bottom: 3%;

  img {
    width: 12vw;
    height: 12vw;
    transition: all 0.5s;
    z-index: 1;
    position: absolute;
  }

  #imageBackground {
    background-color: rgb(165, 165, 165);
    border-radius: 15px 15px 0 0;
    width: 12vw;
    z-index: 0;
    height: 12vw;
    position: absolute;
    transition: all 0.5s;
  }

  &:hover {

    & ~ h2 {
      color: lighten($colorPrincipal, $amount: 10);

    }
    
    #imageBackground {
      transform: perspective(900px) rotateX(60deg);
    }

    img {
      transform: translateY(-22%) scaleX(111%);
    }
  }
}

#infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60%;

  section {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;

    span {
      background-color: gray;
      line-height: normal;
      padding: 5%;
      font-size: 5vh;
      margin-left: 3%;
      border-radius: 10px;
      margin-right: 5%;
      border: ridge 5px rgb(184, 184, 184);
      transition: all 0.3s;

      &:hover {
        color: $colorPrincipal;
        scale: 105%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.726);
        cursor: help;

        & ~ div{

          transform: translateX(10%);

          h4 {
            color: lighten($colorPrincipal, $amount: 10);
            text-decoration: underline;
          }       
        } 
      }
    }

    div {
      color: whitesmoke;
      transition: all 0.3s;

      * {
        transition: all 0.3s;
      }
    }
  }
}

@keyframes sectionSpawn {
  0% {
    transform: translateX(200%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes infoSpawn {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}